/* Index */
#home{
    width: 100%;
    height: 665px;
    background-color: greenyellow;
}
.texto{
    position: relative;
    top:200px;
}
.texto .iniciar{
    position: relative;
    top: 100px;
}
.introducao{
    cursor: default;
    width: 80%;
    background: red;
    height: 200px;
}