<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UTFPR</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/objetoEducacional.css">
</head>
<body>
    <div id="home" class="container">
        <div class="row texto">
            <div class="center-block text-center introducao img-responsive">
                <span>Olá crianças!</span>
                <p>Vamos juntos planejar e simular o caminho que será percorrido pelo nosso amiguinho robô.</p>
            </div>
            <div class="center-block text-center btn">
                <span>INICIAR</span>
            </div>  
        </div>
    </div>
    <script src="../js/objetoEducacionalDigital.js"></script>
</body>
</html>